<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap mp rescap uap3">

  <!-- Format: year.month.day.build -->
  <Identity
    Name="26941filfat.AdaptiveShell"
    Publisher="CN=filfa"
    Version="2021.12.15.0" />

  <mp:PhoneIdentity PhoneProductId="57682c4f-6177-4691-8470-5b9cae4f1821" PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>Adaptive Shell</DisplayName>
    <PublisherDisplayName>Filiph Sandström</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Shell.Start">
      <uap:VisualElements
        DisplayName="Adaptive Shell (PREVIEW)"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="StartScreen"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
	
    <!--<Application Id="Shell.Settings" Executable="$targetnametoken$.exe" EntryPoint="Shell.Host">
      <uap:VisualElements
        AppListEntry="none"
        DisplayName="Shell Settings"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Shell Settings"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="shell">
            <uap:DisplayName>Settings</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>

        <rescap:Extension Category="windows.settingsApp">
          <rescap:SettingsApp SettingsPageUri="ms-settings:personalization-start">
            <rescap:AppLinks>
              <rescap:Link AppActivationMode="shell://settings#personalization" DisplayName="Personalization" />
              <rescap:Link AppActivationMode="shell://settings#advanced" DisplayName="Advanced" />
            </rescap:AppLinks>
            <rescap:SearchTerms>
              <rescap:Term>personalization</rescap:Term>
              <rescap:Term>setup start screen</rescap:Term>
              <rescap:Term>setup phone</rescap:Term>
              <rescap:Term>home screen</rescap:Term>
            </rescap:SearchTerms>
          </rescap:SettingsApp>
        </rescap:Extension>
      </Extensions>
    </Application>-->
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <uap:Capability Name="userAccountInformation" />
    <uap3:Capability Name="userNotificationListener" />
    <rescap:Capability Name="broadFileSystemAccess" />
    <rescap:Capability Name="packageManagement" />
    <rescap:Capability Name="packageQuery" />
    <DeviceCapability Name="location" />
  </Capabilities>

</Package>
