# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
coverage/
coverage-temp/

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# Build
.turbo
android
ios
/docs/

notes.txt
project.inlang

# local env files
.env*.local
!.env
